<div>
    <input type="number"  [(ngModel)]="id" (input)="getProducts()" placeholder="Enter product ID">
   <!--<button (click)="getProducts()">Search</button>--> 
  </div>
  

  <div  *ngFor="let comp of computers" class="card" style="width: 18rem; margin-bottom: 20px;">
    <div class="card-body">
      <h5 class="card-title">{{comp.nombre}}</h5>
      <p class="card-text">{{comp.descripcion}}</p>
      <p class="card-text">{{comp.precio}}</p>
      <p class="card-text">{{comp.categoria}}</p>
      <p class="card-text">{{comp.fabricante}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <a class="btn btn-danger" (click)="deleteProjectId(comp.id)">Eliminar</a>
    </div>
  </div>
  