<!--<mat-toolbar color="primary" style="position: fixed">
<header>
    <ul>
        <li><a  mat-button color="basic" [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
        <li><a  mat-button color="basic" [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
        <li  id="logo"><a href="#">JC</a></li>
        <li><a  mat-button color="basic" [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear proyectos</a></li>
        <li><a  mat-button color="basic" [routerLink]="['/contactos']" [routerLinkActive]="['actived']">Contactos</a></li>
        <app-themes></app-themes>
    </ul>
</header>
</mat-toolbar>
<section id="content">
    <router-outlet></router-outlet>
</section>
<footer>
  <p>Master en javaScript</p>  
</footer>
  -->

<app-menu></app-menu>